/* Start of Hero CSS */

.hero {
    margin: 100px 0;
    width: 100vw;
    max-width: 1500px;
    z-index: 0;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* End of Hero CSS */

/* Start of Typing Sim CSS */

.typing-sim {
    margin: 15px;
}

/* End of Typing Sim CSS */

/*! Start of friends container css */

.friends {
    width: 100vw;
    max-width: 1300px;
    display: flex;
}

.profile-icon {
    width: 50px;
    cursor:pointer;
    justify-content: center;
}

.user {
    width: 100px;
    text-align: center;
    display: block;
}

.block {
    display: block;
}

/*! End of friends container css */