h2 {
    font-size: 50px;
}

/* .centerize {
    text-align: center;
} */

.userNav:hover {
    background-color:hsla(165, 100%, 30%, 0.568)
}

/* Start of user nav */

.user-profile {
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    display: grid;
    height: 100%;
    grid-template-columns: auto auto;
    max-width: 2600px;
}

.user-nav {
    
    width: 300px !important;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
}

.user-nav > h2, 
.user-nav > img,
.user-nav > p {
    margin: 20px 0;
}

.iconBox {
    background-color: red;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
}

img {
    width: 100px;
}



/* End of user nav */

/* Start of user data */

.user-data {
    grid-column-start: 2;
    grid-column-end: 10;
    padding: 100px 0 0 100px;
}

.table {
    margin: 0 !important;
    width: 1000px !important;
}

.table-container {
    margin: 0;
}

/* .scoreBoard {
    margin: 1rem 0;
    max-width: 30vw;
    padding: 10px 10px;
} */

/* End of user data */